<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bar Post</title>
    </head>
    <body>
        <h1>Resultados</h1>
        <p th:text="'Id: '+${person.id}"></p>
        <p th:text="'Name: '+${person.name}"></p>
        <p th:text="':City '+${person.city}"></p>
        <p th:text="'Age: '+${person.age}"></p>
        
        <a href="/foobar">Envie outra Pessoa</a>
    </body>
</html>